<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <title>SI Upload</title>
    <link rel="icon" href="{{url_for('static', filename='res/img/purdue_p.png')}}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="{{url_for('static', filename='js/control.js')}}"></script>
</head>

<body>
    <h1>Welcome to the Matt SI Control Portal!</h1>
    <hr>

    <div class="Upload">
        <h2>Upload File</h2>
        <hr>

        <form action="/control" method="POST" enctype="multipart/form-data">

            <div class="form-group">
                <label>Select a File</label>
                <div class="custom-file">
                    <input type="file" name="upload" id="upload">
                </div>
            </div>

            <button type="submit">Upload</button>
        </form>
    </div>

    <div class="Remove">
        <h2>Remove File</h2>
        <hr>

        <form action="/control" method="POST" enctype="multipart/form-data">
            <div class="form-group">
                <label>Type a File Name</label>
                <div class="custom-file">
                    <input type="text" placeholder="example.txt" name="filename" id="filename">
                </div>
            </div>

            <button type="submit">Remove</button>
        </form>
        <div class="list" id="list">
            <h3><u>Removable Files</u></h3>
        </div>
    </div>

    <div class="Return">
        <h2>Return to Homepage</h2>
        <hr>
        <a href='/'><button>Return</button></a>
    </div>
    <script>placeFiles()</script>
</body>

</html>