<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <title>Edit Design</title>
    <link rel="icon" href="{{url_for('static', filename='res/img/purdue_p.png')}}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="{{url_for('static', filename='js/edit_design.js')}}"></script>
</head>

<body>
    <form action="/control/edit-design" method="POST" id="design_changes">
        <!-- Message Title -->
        <h1>Edit Your Message Title Here</h1>
        <hr>
        <input type="text" id="message_title" name="message_title" size="50" value="foo">
        <br><br>

        <!-- Message Body -->
        <h1>Edit Your Message Here</h1>
        <hr>
        <textarea id="message" name="message" rows="4" cols="100"></textarea>
        <br><br>
        <button type="submit">Save Changes</button>
    </form>
    <div id="ReturnToControl">
        <h2>Return To Control</h2>
        <hr>
        <a href="/control"><button>Go There Now</button></a>
    </div>
    <script>populate_design_sheet()</script>
</body>

</html>