<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>SI Resorces</title>

  <link rel="icon" href="{{url_for('static', filename='res/img/purdue_p.png')}}">
  <link rel="stylesheet" href="{{url_for('static', filename='css/master.css')}}">
  <link rel="stylesheet" href="{{url_for('static', filename='css/myBtn.css')}}">
  <link rel="stylesheet" href="{{url_for('static', filename='css/schedule.css')}}">
  <link rel="stylesheet" href="{{url_for('static', filename='css/files.css')}}">
  <link rel="stylesheet" href="{{url_for('static', filename='css/text.css')}}">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="{{url_for('static', filename='js/functionality.js')}}"></script>
</head>

<body>
  <div class="section-top">
    <div class="content">
      <h1>Matt's SI Resorces</h1>
      <button onClick="JavaScript:scrollPage()" id="myBtn">Go to Contents</button>
    </div>
  </div>

  <div class="section-bottom" id="body">
    <div class="schedule">
      <h1>Matt's Schedule</h1>
      <hr>
      <table id="schedule">
        <tr>
          <th>Type</th>
          <th>Day</th>
          <th>Place</th>
          <th>Time</th>
        </tr>
        <tr>
          <td>SI Session</td>
          <td>Tuesday</td>
          <td>SHRV 113A</td>
          <td>6:30-7:20</td>
        </tr>
        <tr>
          <td>SI Session</td>
          <td>Thursday</td>
          <td>WALC B093</td>
          <td>6:30-7:20</td>
        </tr>
        <tr>
          <td>Office Hours</td>
          <td>Friday</td>
          <td>WILY C215</td>
          <td>3:30-4:30</td>
        </tr>
      </table>
    </div>

    <div class="files" id="files">
      <h1>Resources</h1>
      <hr>
      <table id="files_table">
        <tr>
          <th>File</th>
          <th>Download</th>
        </tr>
      </table>

    </div>

    <div class="contact" id="contact">
      <h1>Get in Contact</h1>
      <hr>
      <div id="contactNote">
        <p>
          This whole website is basically held together with rubber bands and string, so if you come across anything that
          seems wrong, or you would like to suggest improvements for future development, please feel free to
          contact me via email at <strong>mattdroztsi159@gmail.com</strong>. Your support helps makes this resource
          better!
        </p>

        <p id="signed">- Matt Drozt</p>
      </div>

    </div>
  </div>
</body>

</html>