<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>SI Resorces</title>

  <link rel="icon" href="{{url_for('static', filename='res/img/purdue_p.png')}}">
  <link rel="stylesheet" href="{{url_for('static', filename='css/master.css')}}">
  <link rel="stylesheet" href="{{url_for('static', filename='css/myBtn.css')}}">
  <link rel="stylesheet" href="{{url_for('static', filename='css/schedule.css')}}">
  <link rel="stylesheet" href="{{url_for('static', filename='css/files.css')}}">
  <link rel="stylesheet" href="{{url_for('static', filename='css/text.css')}}">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="{{url_for('static', filename='js/functionality.js')}}"></script>
</head>

<body>
  <div class="section-top">
    <div class="content" id="title">
      <button onClick="JavaScript:scrollPage()" id="myBtn">Go to Contents</button>
    </div>
  </div>

  <div class="section-bottom" id="body">
    <div class="schedule">
      <h1 id="schedule_title"></h1>
      <hr>
      <table id="schedule">
        <tr>
          <th>Type</th>
          <th>Day</th>
          <th>Place</th>
          <th>Time</th>
        </tr>
      </table>
    </div>

    <div class="files" id="files">
      <h1>Resources</h1>
      <hr>
      <table id="files_table">
        <tr>
          <th>File</th>
          <th>Download</th>
        </tr>
      </table>

    </div>

    <div class="message" id="message">
      <h1 id="messageTitle"></h1>
      <hr>
      <div id="messageNote">
        <p id="messageText"></p>
        <p id="signed"></p>
      </div>

    </div>
  </div>
</body>

</html>
